html,body{
    font-family: 'Quattrocento Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
}
.userImage{
    margin:15%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
}
.container{
    margin-top: 80px;
}
.popupBg{
    display: none;
    background: rgba( 69,69,69,0.6 );
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.js-removeSkill{
    cursor: pointer;
}
.popup{
    position: fixed;
    margin-left: 25%;
    margin-top: 10%;
    width: 50%;
    min-height: 300px;
    z-index: 1000;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 3px 3px 15px #888888;
    
}
.js-search-skill{
    font-size: 1.5rem;
    color: #276169;
    width: 70%;
    margin-top: 5%;
}
.js-optionSkills{
    position: relative;
    border: 1px solid #276169;
    top: 0;
    width: 70%;
    margin-left: 15%;
}
.completion{
    font-size: 1.5rem;
    color: #276169;
    cursor: pointer;
    padding: 10px;
    margin: 0px !important;
}
.completion:hover{
    background-color: #276169;
    color: #fff;
}
.singleEducation p:first-child{
    font-size: 1.5rem;
    font-weight: bold;

}
.singleExperience p:first-child{
    font-size: 1.5rem;
    font-weight: bold;

}
.addAjax{
    background-color: #276169;
}
.familyIcon{
    color: #276169;
}
.profileImg{
    width: 250px;
    height: 250px;
}
.userName{
    text-align: center;
    font-size: 2rem;
    color: white;
}
.send{
    background-color: #276169;
    color: white;
}
.send:hover{
    background-color: white;
    color: #276169;
}
.formHeader{
    font-weight: bolder!important;
    color: #276169!important;
}
.icons i{
    margin: 10px;
    color: white;
}
.dataBlock{
    width: 90%;
    margin-left: 5%;
    min-height:20%;
    background-color: #F4FFFD;
    padding: 1rem;
    margin-bottom: 1%;
    border-radius: 5px;
    box-shadow: 3px 3px 15px #888888;
}
.profileContainer p{
    color: #0A3238;
    font-size: 1rem;


}
.dataBlock .skillPill{
    padding: 1%;
    width: auto;
    min-height: 30px;
    border-radius: 5px;
    float: left;
    color: #F4FFFD;
    background-color: #0A3238;
}
.profileContainer h3{
    text-align: center;
    width: 30%;
    color: #0A3238;
    font-size: 3rem;

}
.inbox-container{
    height: 80%;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 8%;
    border-radius: 5px;
    background-color: #F4FFFD;
    box-shadow: 3px 3px 15px #888888;
}
.inbox-messages{
    overflow-y: scroll;
    display: inline-block;
    width: 20%;
    height: 100%;
    background-color: #276169;
    border-radius: 5px 0px 0px 5px;
}
.inbox-body{
    overflow-y: scroll;
    padding: 15px;
    display: inline-block;
    width: 79%;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
}
.inbox-body p{
    color: #276169;
    border-bottom: 1px solid #276169;
    font-size: 1.5rem;
}
.single-Message{
    cursor: pointer;
    width: 100%;
    max-height: 10%;
    color: #F4FFFD;
    list-style: none;
    border-bottom: 1px solid #F4FFFD;
    padding: 10px;
}
.single-Message:hover{
    background-color: #58959D;
}
.inbox-bar-Subject{
    font-size: 0.8rem;
}
.inbox-bar-User{
    font-weight: bolder;
    text-align: center;
}
.ul-messages{
    width: 100%;
    padding: 0;
    display: block;
}
.inbox-bar-userImage{
    height: 60px;
    width: 60px;
    margin-right: 10px;
    border-radius: 5px;
    float: left;
}



::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #F4FFFD;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0A3238;
}

.inbox-tabs{
    display: inline-block;
    width: 100%;
    padding: 0;

}
.inbox-single-tab{
    float: left;
    width: 50%;
    height: 100%;
    color: #F4FFFD;
    font-size: 0.9rem;
    padding: 5%;
    list-style: none;
    cursor: pointer;
    border-bottom: 1px solid #F4FFFD;
}
.inbox-single-tab:first-child{
    border-right: 1px solid #F4FFFD;
}
.inbox-single-tab.active{
    background-color: #58959D;
}
.inbox-single-tab:hover{
    background-color: #58959D;
}
.addSkill{
    color: #0A3238;
    cursor: pointer;
    font-size: 3rem;
    position: relative;

}

.profileContainer{
    margin-top: 100px;
    width: 100%;
}
.content{
    margin-top: 100px;
}
.visible{
    display: block!important;
}
.content .form-group div{
    margin-bottom: 20px!important;
}

.bgopacity{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:18;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.logdddinBg{
    width: 100%;
    height:100%;
    position:relative;
    background: url(../img/kb_1.jpg) no-repeat fixed;
    overflow:auto;
}
.loginBg{
  height: 100%; 
  width: 100%; 
  position:absolute; 
  top: 0; 
  left: 0; 
  z-index: 0;
}
.loginInput{
    width: 75%;
    margin-left: 12%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    border: 2px solid #0A3238;
    height: 40px;
    border-radius: 5px;
    color: #0A3238;
    float: left;
    padding-left: 10px;
    font-family:'Quattrocento Sans',sans-serif
}
.loginForm input[type=submit]{
    margin-left: 35%;
    margin-top: 30px;
    display: block;
    background: transparent;
    border-radius: 10px;
    border: 5px solid #0A3238;
    color: #0A3238;
    width: 30%;
    height: 45px;
    float: left;
    font-family:'Quattrocento Sans',sans-serif;
    font-size: 1.2rem;

}
.loginForm input[type=submit]:hover{

    background: #0A3238;
    color: white;

}
.loginForm h4{
    margin: 20px;
    font-size: 2rem;
}

div.loginForm form{
    margin:0 auto;
    text-align:center;
}

.closePopup{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color:#0A3238;
}
.registermessage{
    margin: 5px;
}
.loginForm {
    display: none;
    z-index: 20;
    text-align: center;
    border-radius: 5px;
    background-color: #F4FFFD!important;
    color: #0A3238;
    width: 400px;
    min-height: 350px;
    height: auto;
    padding: 20px;
    background-color: white;
    position:fixed;
    left:38%;
    top:30%;
    margin-left:-202px;
}
header{
    position:fixed;
    top:0;
    right: 0;
    height:80px;
    width: 100%;
    color: white;
    z-index: 99;
    padding-top: 10px;
    -webkit-transition: height 1s; /* Chrome, Safari, Opera */
    transition: height 1s;

}
a i{
    margin: 5px;
}
.footerlink{
   text-decoration: none;
   color: #F4FFFD;
}
.footerlink:hover{
   text-decoration: none;
   color: #afdefa;
}
.firstelement{
    margin-top: 10%;
    margin-bottom: 5%;
}
.firstelement p{
    padding: 5%;
    color: #0A3238;
}
.feedbackTextarea{
    width: 80%;
    margin-left: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    border: 1px solid #0A3238;
    border-radius: 5px;
    color: #0A3238;
    float: left;
    padding-left: 10px;
    font-family:'Quattrocento Sans',sans-serif;
    height: 200px;
}
.feedbackInput{
    width: 60%;
    margin-left: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    border: 1px solid #0A3238;
    border-radius: 5px;
    color: #0A3238;
    float: left;
    padding-left: 10px;
    font-family:'Quattrocento Sans',sans-serif;
    height: 40px;
}
.searchinput{
    font-size: 1.2rem;
    border: 1px solid #0A3238;
    border-radius: 5px;
    color: #0A3238;
    font-family:'Quattrocento Sans',sans-serif;
    height: 40px;
}
.user-results{
    width: 90%;
    min-height: 100px;
    margin-bottom: 5%;
    margin-left: 5%;
}
.user-result-block{
    margin-left: 5%;
    min-height:300px;
    background-color: #F4FFFD;
    padding: 1rem;
    margin-bottom: 2%;
    border-radius: 5px;
    box-shadow: 3px 3px 15px #888888;   
}
.user-result-image{
    height: 80px;
    width: 80px;
    margin-right: 10px;
    border-radius: 5px;
    float: left;
}
.user-result-data-title{
    font-size: 3rem;
    text-align: center;
    color: #0A3238;
}
.user-result-data-category{
    font-size: 1.5rem;
    text-align: center;
    color: #0A3238;
}
.user-result-data-description{
    margin-top: 10px;
    font-size: 1.3rem;
    text-align: center;
    color: #0A3238;
}
.user-result-viewprofile{
    width: 50px;
    padding: 10px;
    height: 50px;
    border-radius: 50%;
    color:#F4FFFD;
    background-color: #276169;
    text-decoration: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    
    
}
.user-result-bookmark{
    width: 50px;
    padding: 14px;
    height: 50px;
    border-radius: 50%;
    color:#F4FFFD;
    background-color: #276169;
    text-decoration: none;
    position: absolute;
    bottom: 15px;
    right: 70px;
    cursor: pointer;
}
.user-result-unbookmark{
    width: 50px;
    padding: 14px;
    height: 50px;
    border-radius: 50%;
    color:#F4FFFD;
    background-color: indianred;
    text-decoration: none;
    position: absolute;
    bottom: 15px;
    right: 70px;
    cursor: pointer;
}
.user-result-contact{
    width: 50px;
    padding: 10px;
    height: 50px;
    border-radius: 50%;
    color:#F4FFFD;
    background-color: #276169;
    text-decoration: none;
    position: absolute;
    bottom: 10px;
    right: 120px;
    cursor: pointer;
}

.user-send-response{
    width: 50px;
    padding: 10px;
    height: 50px;
    border-radius: 50%;
    color:#F4FFFD;
    background-color: #276169;
    text-decoration: none;
    margin-left: 45%;
    cursor: pointer;
}
.bookmarkscontainer{
    margin-top: 100px;
    min-height: 80%;
}
.paging{
    
    width: 20%;
    margin-left: 30%;
    margin-bottom: 3%;
}
.paging span{
    min-width: 5%;
    display: inline-block;
    padding: 5px;
    
}

.paging a{
    text-decoration: none;
    color: #276169;
}
    .feedbackBtn{
    border: 5px solid #0A3238;
    background-color: Transparent;
    font-family: 'Quattrocento Sans', sans-serif;
    color:#0A3238;
    width: 10%;
    height: 50px;
    outline:none;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-left: 45%;
    margin-top: 5%;
    font-weight: bold;
}
.feedbackBtn:hover{
    border:none;
    background-color: #276169;
    outline:none;
    color: white;
    font-weight: bold;
}

.deleteIcon{
    color: indianred;
}
.editIcon{
    color: cadetblue;
}
.smaller{
    height:50px;
    -webkit-transition: height 1s; /* Chrome, Safari, Opera */
    transition: height 1s;
}
section.uno{
    margin-top:70px;
    width: 100%;
    background: url(../img/kb.jpg) no-repeat fixed;
    background-size: cover;
    min-height: 100%;

}
.content-uno{
    padding-top: 20%;
    width: 80%;
    margin: 0 auto;
}
.info-Block{
    margin-left: 3%;
    margin-bottom: 70px;
    width: 30%;
    float: left;
    border-radius: 5px;
    background-color: #F4FFFD;
    min-height: 360px;
    

}
.info-Block p{
    font-size: 1.2rem!important;
    padding: 7%;
}

.info-Register{
    margin-left: 7%;
    margin-bottom: 70px;
    width: 40%;
    margin-top: 5%;
    float: left;
    border-radius: 5px;
    background-color: #F4FFFD;
    min-height: 360px;
    padding: 3%;

}
.info-Register p{
    color: #0A3238;
    font-size: 1.2rem;
    margin-top: 30px;
}
.info-round{
    border-radius: 50%;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    background-color: #276169;
    padding: 15%;
    color: white;

}
.home-title-info{
    margin-bottom: 30px;
    margin-top: 20px;
}
.info a{
    text-decoration: none;
    color: inherit;
}
.info{
    border: 5px solid black;
    background-color: Transparent;
    font-family: 'Quattrocento Sans', sans-serif;
    width: 200px;
    height: 70px;
    outline:none;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1em 35%;
}
.info:hover{
    border:none;
    background-color: #276169;
    outline:none;
    color: white;
    font-weight: bold;
}

h2{
    font-size: 3.5rem;
    text-align: center;

}
h3{
    font-size: 3rem;
    text-align: center;
    color: #0A3238;
}
h4{
    font-size: 3rem;
    text-align: center;
    color: #0A3238;
}
.dos p{
    font-size: 1rem;
    color: #0A3238;
    text-align: justify;

}
.botones{
    margin: 1em 25%;
}
.alta{
    border: 5px solid #0A3238;
    background-color: Transparent;
    font-family: 'Quattrocento Sans', sans-serif;
    color:#0A3238;
    width: 60%;
    height: 70px;
    outline:none;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-left: 5%;
    margin-top: 5%;
    font-weight: bold;
}
.alta:hover{
    border:none;
    background-color: #276169;
    outline:none;
    color: white;
    font-weight: bold;
}
.register{
    border: 5px solid #0A3238;
    background-color: Transparent;
    font-family: 'Quattrocento Sans', sans-serif;
    color:#0A3238;
    width: 35%;
    height: 50px;
    outline:none;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-left: 30%;
    margin-top: 5%;
    font-weight: bold;
}
.register:hover{
    border:none;
    background-color: #276169;
    outline:none;
    color: white;
    font-weight: bold;
}
section{
    position: relative;
    height: auto;
    min-height: 50%;
    width: auto;
    overflow: hidden;
    text-align: center;
    padding-top: 3%;   
}
.tres{
     background: url(../img/kb.jpg) no-repeat fixed;
    background-size: cover;
}
footer{
    position: relative;
    width: 100%;
    height:300px; 

}
.goup a{
    text-decoration: none;
    color: white;
}
h1{
    margin-top: 10px;
    margin-left:30%; 
    line-height: 8px;
    width: 40%;
    text-align: center;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 4rem;
    -webkit-transition: all 1s; /* Chrome, Safari, Opera */
    transition: all 1s;
}
.nolink{
    color: #fff;
    text-decoration: none;
}
.nolink:hover{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
h1 img{
    width: auto;
    -webkit-transition: all 1s; /* Chrome, Safari, Opera */
    transition: all 1s;
}
.smaller h1{
    font-size: 2rem;
    margin-left: 70%;
    -webkit-transition: all 1s; /* Chrome, Safari, Opera */
    transition: all 1s;
}
.smaller h1 img{
    width: 30px;
    -webkit-transition: all 1s; /* Chrome, Safari, Opera */
    transition: all 1s;
}

.dos{
    min-height: 700px;
    background:white;
    padding: 5%;
}

.cuatro{
    
    min-height: 50%;
}
p{
    text-align: justify;
    margin: 10px;
}
.goup{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    bottom: 75px;
    right: 20px;
    color: white;
    display: none;
}
.menu{
    z-index: 99;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    box-shadow: 1px 8px 19px 0px rgba(50, 50, 50, 0.75);
}

.menu i{
    margin-left: 25%;
    margin-top:  22%;
    cursor:pointer;
}
.goup i{
    margin-left: 22%;
    margin-top:  18%;
    cursor:pointer;
}

nav{
    height: 100%;
    width: 60%;
    float: left;
}
nav ul li{
    display: inline;
    list-style: none;

}
ul{
   list-style: none; 
}
nav a{
    display: inline-block;
    text-decoration: none;
    font-weight:bold;
    border-top: Transparent;
    border-bottom:Transparent;
    color: white;
    font-size: 1.5rem;
    padding: 10px;

}


.color-primary-0 { background-color: #276169 }	/* Main Primary color */
.color-primary-1 { background-color: #BAF2FA }
.color-primary-2 { background-color: #58959D }
.color-primary-3 { background-color: #0A3238 }
.color-primary-4 { background-color: #012E34 }

/* General styles for all menus */

.cbp-spmenu {
    background: #276169;
    position: fixed;
}

.cbp-spmenu h3 {
    color: white ;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #276169;
}

.cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}

.cbp-spmenu a:hover {
    background: #58959D ;
}

.cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
}

.cbp-spmenu-vertical a {
    border-bottom: 1px solid #012E34;
    padding: 1em;
    text-decoration: none;
}



.cbp-spmenu-left {
    left: -240px;
}

.cbp-spmenu-right {
    right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}



/* Push classes applied to the body */

.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.cbp-spmenu-push-toright {
    left: 240px;
}

.cbp-spmenu-push-toleft {
    left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }

    .cbp-spmenu-top {
        top: -110px;
    }

    .cbp-spmenu-bottom {
        bottom: -110px;
    }

}

@media screen and (max-height: 26.375em){

    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }

    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -190px;
    }

    .cbp-spmenu-right {
        right: -190px;
    }

    .cbp-spmenu-push-toright {
        left: 190px;
    }
}

@media (max-width: 720px) {
    article{
        width: 90%;
        min-height: 90%;
        float: left;
        background-color: #106D69 ;
        border-radius: 3px;
    }
    .info,.alta{
        margin: 1em;

    }
    .alta{
        margin-left: 0;
    }
    h1{
        width: 90%;
        font-size: 3rem;
    }

} 

@media (max-width: 480px) {
.info-Block {
    margin-left: 3%;
    margin-bottom: 20px;
    width: 94%;
    float: left;
    border-radius: 5px;
    background-color: #F4FFFD;
    min-height: 360px;
}
.dos{
    padding-top: 15%;
}
section{
    position: relative;
    height: auto;
    min-height: 100%;
    width: auto;
    overflow: hidden;
    text-align: center;
    padding-top: 5%;
}
footer{
    float:left;
}
.info-Register {
    margin-left: 5%;
    margin-bottom: 70px;
    width: 90%;
    margin-top: 15px;
    float: left;
    border-radius: 5px;
    background-color: #F4FFFD;
    min-height: 360px;
    padding: 3%;
}
h1{
    margin-left: 10%;
}
.smaller h1{
    margin-left: 32%;
}
.loginForm{
    left: 50%;
}
.info-round {
width: 55%;
margin-left: 23%;
}
.popup {
position: fixed;
margin-left: 10%;
margin-top: 15%;
width: 80%;
}
.firstelement {
margin-top: 25%;
margin-bottom: 5%;
}

.feedbackInput {
width: 80%;
}
.feedbackBtn{
    width: 40%;
    height: 50px;
    margin-left: 30%;
    
}
.inbox-container{
    height: auto;
    margin-top: 25%;
}
.inbox-messages {
width: 100%;
height: auto;
}
.inbox-body {
display: block;
width: 100%;
}
.inbox-tabs {
display: block;
width: 100%;
}
.ul-messages {
padding-top: 14%;
}

}